//output:../bookDetail.html, doctype:strict
html(lang='en', xmlns:th='http://www.w3.org/1000/xhtml')
  head(th:replace='common/header :: common-header')/
  body
    #nav
    div(th:replace='common/header :: navbar')/
    .container
      .row(style='margin-bottom: -100px;')
        .col-xs-8
          h2.section-headline
            span(th:text="${user}? '使用者'+${#strings.toUpperCase(user.username)}+'您好' : '物資詳細'")
        .col-xs-4
      hr(style='position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;')
      img.img-responsive(src='/imgs/wood.png', style='margin-top: -75px;')
      form(th:action='@{/shoppingCart/addItem}', method='post', style="font-size: 1.1em;")
        input(hidden='hidden', th:field='*{book.id}')
        .row(style='margin-top: 120px;')
          .col-xs-3
            img.img-responsive.shelf-book(th:src="@{/imgs/book/}+${book.id}+'.png'")
          .col-xs-9
            h3
              span(th:if='${addBookSuccess}', style='color: forestgreen')
                i.fa.fa-check(aria-hidden='true', style='color: forestgreen')
                | 加到購物車
            h3
              span(th:if='${notEnoughStock}', style='color: red')
                | 抱歉，庫存只剩：
                span(th:text='${book.inStockNumber}')
                  
            h3(th:text='${book.title}' , Style="color:rgb(86, 174, 134);") 物資名稱
            .row
              .col-xs-5
                p
                  strong 製造商：
                  span(th:text='${book.author}')
                p
                  strong 經銷商： 
                  span(th:text='${book.publisher}')
                p
                  strong 製造日期： 
                  span(th:text='${book.publicationDate}')
                p
                  strong 產地： 
                  span(th:text='${book.language}')
                p
                  strong 分類： 
                  span(th:text='${book.category}')
                p
                  strong 保存方式：
                  span(th:text='${book.format}')
                p
                  strong 相關認證字號： 
                  span(th:text='${book.isbn}')
                p
                  strong 運費： 
                  span(th:text='${book.shippingWeight}')
                    |  一次
              .col-xs-7
                .panel.panel-default(style='border-width: 5px; margin-top: 20px;')
                  .panel-body
                    .row
                      .col-xs-6
                        h4
                          | 補貼供應者(如運費)：
                          span(style='color:#db3208;')
                            | $
                            span(th:text='${book.ourPrice}')
                        p
                          | 市場： 
                          span(style='text-decoration: line-through')
                            | $
                            span(th:text='${book.listPrice}')
                        p
                          | 剩下 
                          span(th:text="${#numbers.formatDecimal((book.listPrice - book.ourPrice), 0, 'COMMA', 2, 'POINT' )}")
                        span 數量: 
                        select(name='qty')
                          option(th:each='qty : ${qtyList}', th:value='${qty}', th:text='${qty}')
                      .col-xs-6
                        h4(th:if='*{book.inStockNumber>10}', style='color: green') 可供應
                        h4(th:if='*{book.inStockNumber<10 and book.inStockNumber>0}', style='color: green')
                          | 倉儲只剩下 
                          span(th:text='${book.inStockNumber}')  
                          | 的數量
                        h4(th:if='*{book.inStockNumber==0}', style='color:darkred;') 目前無法交換
                        button.btn.btn-warning(type='submit', style='color:black;border:1px solid black; padding: 10px 40px 10px 40px;') 加到交換手提藍
            hr
            p(th:utext='${book.description}')
    // end of container
    
    .py-5.bg-theme.text-center(style='position: relative; top: 60px; width: 100%; margin-top: 60px; padding:20px 0;')
      .container
        .row
          .col-4.col-md-4
            a(th:href='@{/bookshelf}',style="color:#fff")
              i.fa.fa-5x.fa-fw.fa-arrow-left
          .col-4.col-md-4
            a(th:href='@{/bookshelf}',style="color:#fff")
              i.fa.fa-5x.fa-fw.fa-archive
          .col-4.col-md-4
            a(href='#nav',style="color:#fff")
              i.fa.fa-5x.fa-fw.fa-chevron-circle-up
    
    div(th:replace='common/header :: footer')/
    div(th:replace='common/header :: body-bottom-scripts')/
